
.shop__label {
    width: 100%;
    display: flex;
    align-items: center;
}

.shop__name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.shop__name h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
}

.shop__name span {
    font-size: 1.2rem;
    margin-top: 6px;
}
.img__shop {
    width: 25%;
    height: auto;
    margin: 15px 10px 10px 20px;
    border-radius: 50%;
    border: 1px solid #666;
}

.shop__description {
    display: flex;
    justify-content: space-around;
}

.shop__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.shop__product, .shop__joined, .shop__respontime,
.shop__follower, .shop__rating, .shop__following {
    font-size: 1.6rem;
}

.shop__product--title,
.shop__joined--title, .shop__following--title,
.shop_respontime--title, .shop__follower--title
,.shop__ratings--title {
    margin: 0 5px; 
}

.shop__product--info,
.shop__joined--info, .shop__following--info,
.shop__respontime--info, .shop__follower--info
,.shop__ratings--info {
    /* color: rgb(139, 52, 52); */
    color: rgb(208, 1, 27);
    font-weight: 500;
}


