
.shop__label {
    width: 100%;
    display: flex;
    align-items: center;
}

.shop__name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.shop__name h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
}

.shop__name span {
    font-size: 1.2rem;
    margin-top: 6px;
}
.img__shop {
    width: 100px;
    height: 100px;
    margin: 15px 10px 10px 20px;
    border-radius: 50%;
    border: 1px solid #666;
}

.shop__description {
    display: flex;
    justify-content: space-around;
}

.shop__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.shop__product, .shop__joined, .shop__respontime,
.shop__follower, .shop__rating, .shop__following {
    font-size: 1.6rem;
}

.shop__product--title,
.shop__joined--title, .shop__following--title,
.shop_respontime--title, .shop__follower--title
,.shop__ratings--title {
    margin: 0 5px; 
}

.shop__product--info,
.shop__joined--info, .shop__following--info,
.shop__respontime--info, .shop__follower--info
,.shop__ratings--info {
    /* color: rgb(139, 52, 52); */
    color: rgb(208, 1, 27);
    font-weight: 500;
}


        .container2 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        /* Chat box section */
        .chat-box1 {
            width: 400px;
            height: 500px;
            background-color: #fff;
            overflow: hidden;
            border-radius: 15px;
            position: fixed;
            right: calc(5em + 300px + 10px);
            bottom: 90px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            z-index: 10;
            
        }

        .chat-box2 {
            width: 300px;
            height: 500px;
            background-color: #fff;
            overflow: hidden;
            border-radius: 15px;
            position: fixed;
            right: 5em;
            bottom: 90px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            z-index: 10;
            color: black;
        }

        /* chat box button section */
        .chat-btn {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            overflow: hidden;
            position: fixed;
            bottom: 10px;
            right: 6em;
        }

        .chat-btn img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px;
            transition: 0.4s ease-in-out;
        }

        .chat-btn:hover img{
            transform: rotate(30deg);
        }



        .chat {
            margin-top: auto;
            margin-bottom: auto;
        }

        .card {
            height: 500px;
            border-radius: 15px !important;
            /* background-color: var(--header-color); */
        }

        .contacts_body {
            padding: 0.75rem 0 !important;
            overflow-y: auto;
            white-space: nowrap;
        }

        .msg_card_body {
            overflow-y: auto;
        }

        .card-header {
            border-radius: 15px 15px 0 0 !important;
            border-bottom: 0 !important;
            background-color: var(--header-color);
        }

        .card-footer {
            border-radius: 0 0 15px 15px !important;
            border-top: 0 !important;
        }

        .container {
            align-content: center;
        }

        .search {
            border-radius: 15px 0 0 15px !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            font-size: 1.4rem;
        }

        .search::placeholder {
            color: white !important;
        }

        .search:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .type_msg {
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            height: 60px !important;
            overflow-y: auto;
            font-size: 1.4rem;
        }

       

        .type_msg:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .attach_btn {
            border-radius: 15px 0 0 15px !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            cursor: pointer;
            font-size: 1.8rem;
        }

        .send_btn {
            border-radius: 0 15px 15px 0 !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            cursor: pointer;
            font-size:3rem;
        }

        .search_btn {
            border-radius: 0 15px 15px 0 !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 0 !important;
            color: white !important;
            cursor: pointer;
            font-size: 1.4rem;
        }

        .contacts {
            list-style: none;
            padding: 0;
        
        }

        .contacts li {
            width: 100% !important;
            height: 66px;
            /* padding: 0 0px 2px px; */
            margin-bottom: 6px !important;
            
        }

        .active {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .user_img {
            height: 60px;
            width: 60px;
            /* border: 50% solid #f5f6fa; */
            background-image: radial-gradient(circle, #456BD9, #456BD9 66%, transparent 66%);
            
        }

        .user_img_msg {
            height: 40px;
            width: 40px;
            border: 1.5px solid #f5f6fa;
        }

        .img_cont {
            position: relative;
            height: 70px;
            width: 70px;
            margin-left: 10px;
        }

        .img_cont_msg {
            height: 40px;
            width: 40px;
        }

        .online_icon {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: #4cd137;
            border-radius: 50%;
            bottom: 13px;
            right: 13px;
            border: 1.5px solid white;
        }

        .offline {
            background-color: #c23616 !important;
        }

        .user_info {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 15px;
        }

        .user_info span {
            font-size: 1.8rem;
            color: white;
        }

        .user_info p {
            font-size: 12px;
            color: white;
            opacity: 0.6;
        }

        .user_info-searched {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 15px;
        }

        .user_info-searched span {
            font-size: 1.8rem;
            color: black;
        }

        .user_info-searched p {
            font-size: 12px;
            color: black;
            opacity: 0.6;
        }

        .video_cam {
            margin-left: 50px;
            margin-top: 5px;
        }

        .video_cam span {
            color: white;
            font-size: 20px;
            cursor: pointer;
            margin-right: 20px;
        }

        .msg_cotainer {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
            border-radius: 25px;
            background-color: #82ccdd;
            padding: 10px;
            position: relative;
            font-size: 1.4rem;
        }

        .msg_cotainer img {
            width: 200px;
            height: auto;
        }

        .msg_cotainer_send {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px;
            border-radius: 25px;
            background-color: #78e08f;
            padding: 10px;
            position: relative;
            font-size: 1.4rem;
        }

        .msg_cotainer_send img {
            margin-top: auto;
            margin-bottom: auto;
            width: 200px;
            height: auto;
            border-radius: 0;
            padding: 10px;
            position: relative;
            font-size: 1.4rem;
        }

        .msg_time {
            position: absolute;
            left: 0;
            bottom: -15px;
            color: black;
            font-size: 10px;
        }

        .msg_time_send {
            position: absolute;
            right: 0;
            bottom: -15px;
            color: black;
            font-size: 10px;
        }

        .msg_head {
            position: relative;
        }

        #action_menu_btn {
            position: absolute;
            right: 10px;
            top: 10px;
            color: white;
            cursor: pointer;
            font-size: 20px;
        }

        .action_menu {
            z-index: 1;
            position: absolute;
            padding: 15px 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border-radius: 15px;
            top: 30px;
            right: 15px;
            display: none;
            font-size: 20px;
        }

        .action_menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }

        .action_menu ul li i {
            padding-right: 10px;
        }

        .action_menu ul li:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
        }


        /* width */

        ::-webkit-scrollbar {
            width: 10px;
        }


        /* Track */

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }


        /* Handle */

        ::-webkit-scrollbar-thumb {
            background: #888;
        }


        /* Handle on hover */

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .magazin__info-btn:hover {
            cursor: pointer;
        }
